name: CI
on:
  push:
    branches:
      - develop

jobs:
  devops:
    name: Test - Unit & Integration & SonarCloud Scan & Slack WebHook
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21
          cache: maven

      - name: Build & Unit & IT & FT & Sonar Analysis
        run: >
          mvn -B clean verify sonar:sonar 
          -Dsonar.projectKey=es.upm.miw:iwvg-devops 
          -Dsonar.organization=miw-upm-github 
          -Dsonar.host.url=https://sonarcloud.io 
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}


